*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/google-services.json
/app/src/free/google-services.json
/app/src/paid/google-services.json
/app/*.apk
/app/libs/
!/app/build.gradle
/app/assetlinks.json
/app/password
/app/firebase_database.jks
src/androidTest/
src/main/gen/
src/test/
